@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

small {
    font-weight: 700;
}

.purple-color {
    color: purple;
}

h1 {
    font-size: 70px;

}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 18px;
    color: #707070;
}

.top-banner {
    margin-bottom: 150px;
    background-image: url('images/donation13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3%;
}

.banner-info h1 {
    font-size: 70px;
    color: white;
    font-weight: bolder;
}

.banner-info p {
    color: white;
    margin-bottom: 50px;
    font-size: 20px;
}

.donate-link {
    background-color: #FF5959;
    padding: 20px 30px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
}

.banner-info {
    text-align: center;
    padding-top: 150px;
    margin-bottom: 150px;
}

.donate-today {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.donate-heading {
    text-align: center;
    margin: 0px 50px 0px 50px;
}

.donate-heading h2 {
    font-weight: bolder;
    margin-bottom: 0;
}

.donate-heading p {
    font-size: 20px;
}

.donate-amount {
    display: flex;
}

.amount {
    width: 20%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    padding: 3%;
    margin-top: 30px;
    border-radius: 7px;
    font-size: 20px;
    background-color: #FAFAFA;
    font-weight: bold;
}

.orange-color {
    color: orangered;
}


.orange-background {
    background-color: #FFEEEE;
    border: 3px solid orangered;
}

.enter-amout {
    width: 100%;
    margin-top: 5%;
    margin-left: 2%;
}

#amount-input {
    width: 93%;
    padding: 15px;
    font-size: 25px;
    outline: none;
    text-align: center;
    background-color: #FFEEEE;
    border: none;
    border-bottom: 2px solid orangered;
}

#input-btn {
    text-align: center;
    margin-top: 5%;
}

.donation-planning {
    width: 90%;
    margin: 5% auto 5%;
}

.our-donation {
    width: 65%;
    text-align: center;
    margin: 0 auto 5%;
}

.donation-items {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.donation {
    background-color: lightblue;
    margin-left: 2%;
    /* margin-right: 2%; */
    /* padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 3%; */
    border-radius: 6px;
    padding: 2%;
    padding-top: 5%;
}

.donation h3 {
    font-size: 25px;
}

.food {
    background-color: rgba(79, 157, 166, 15%);
    border: none;
}

.shelter {
    background-color: rgba(255, 89, 89, 15%);
    border: none;

}

.education {
    background-color: rgba(255, 244, 214, 83%);
    border: none;

}

.volunteer-intro {
    text-align: center;
    width: 50%;
    margin: 0px auto;
}

.volunteer-intro h1 {
    border-bottom: 7px solid orangered;
}

.our-volunteers {
    width: 90%;
    margin: 20px auto 5%;
}

.volunteers {
    display: flex;
}

.volunteer-info {
    width: 30%;
    margin: 0 auto 0 50px;
    box-shadow: 10px 10px 40px gray;
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
    padding-bottom: 15px;
}

.volunteer-info h3 {
    margin-bottom: 0;
}

.volunteer-info img {
    width: 30%;
    border-radius: 50%;
    border: 3px solid orangered;
}

.flood {
    margin-bottom: 100px;
    margin-top: 5%;
}

.flood-info {
    text-align: center;
}

.news-boxes {
    display: flex;
}

.flood-news {
    width: 50%;
    box-shadow: 10px 10px 40px lightgray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 20px;
    border-radius: 25px;
    padding-bottom: 30px;
}

.flood-news img {
    width: 95%;
    border-radius: 8px;
}

.read-more {
    padding: 10px 20px;
    background-image: linear-gradient(orange, orangered);
    text-decoration: none;
    font-size: 19px;
    border-radius: 10px;
    color: white;
}

.read-more-btn {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.unity-charity {
    width: 100%;
    background-image: url('images/donation1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.charity-info {
    text-align: center;
    padding-top: 8%;
    color: white;
    font-family: cursive;
}

.charity-info h3 {
    color: orange;
}

.charity-btn {
    padding: 15px 30px;
    margin: 10px;
}

.volunteer-btn {
    background-color: purple;
}

.get-updates {
    width: 80%;
    margin: 5% auto;
}

.get-updates-title {
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

.email-box {
    width: 70%;
    background-color: #FFF4D6;
    padding: 8%;
    margin: 5% auto 12%;
}

#input-email {
    padding: 15px;
    font-size: 20px;
    width: 40%;
    /* display: block; */
    margin-left: 20%;
    border: 0;
    background-color: #D9D9D9;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.submit-btn {
    background-color: #FF5959;
    padding-top: 19px;
    padding-bottom: 15px;
    width: 170px;
    text-align: center;
    font-size: 17px;
    border: 0;
    outline: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
}


footer {
    width: 100%;
    background-color: black;
}


.page-foot {
    width: 50%;
    color: white;
    text-align: center;
    margin: auto;
    padding: 3%;
}

.page-foot h3 {
    font-family: 'Caveat', cursive;
    color: #FF5959;
}